<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veronica.imgo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".PrecioDetalleActivity"
            android:label="@string/title_activity_precio_detalle"
            android:theme="@style/AppTheme.NoActionBar"></activity>

            android:name=".categoriaBaresActivity"
            android:theme="@style/RestaurantesTheme" />
        <activity
            android:name=".categoriaRestaurantesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".categoriaParquesActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".categoriaEntretenimientoActivity"
            android:theme="@style/AppTheme">
            />
        </activity>
        <activity android:name=".CategoriaActivity" />


        <activity android:name=".sitioInsertActivity" />
        <activity android:name=".sitioEditActivity" />
        <activity android:name=".sitioDeleteActivity" />
        <activity android:name=".sitioListActivity"></activity>
        


    </application>

</manifest>